<%- include('./parts/header')  %> 
    <%- include('./parts/navbar') %>
    <div class="container mt-4">
        <div class="shadow p-5">
            <form name="form1" onsubmit="sendData(); return false">
                <div class="mb-3 col-5">
                  <label for="add_prod_name" class="form-label">Product Name</label>
                  <input type="text" id="add_prod_name" name="name" class="form-control"  >
                </div>
                <div class="mb-3">
                  <label for="add_prod_detail" class="form-label">Product Detail</label>
                  <textarea id="add_prod_name" name="detail" class="form-control" cols="30" rows="5"></textarea>
                </div>
                <div class="mb-3 col-5">
                    <label for="add_prod_price" class="form-label">Product Price</label>
                    <input type="text" id="add_prod_price" name="price" class="form-control"  >
                </div>
                <div class="mb-3 col-5">
                    <label for="add_prod_in_stock" class="form-label">In Stock</label>
                    <input type="number" id="add_prod_in_stock" name="in_stock" class="form-control"  >
                </div>
                <div class="mb-3 col-5">
                    <label for="add_prod_category" class="form-label">Category</label>
                    <select class="form-select" id="add_prod_category" name="category">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div class="mb-3 col-5">
                    <label for="add_prod_img" class="form-label">Image</label>
                    <input type="file" id="add_prod_img" name="prod_img" class="form-control" accept="image/*">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </div>

<%- include('./parts/script') %>
<script>
    // var sendData = () => {
    //     $.post('', $(document.form1).serialize(), (res)=>{
    //         console.log(res)
    //         if ( res.success ) {
    //             alert('add product success')
    //             location.href = '/products'
    //         } else {
    //             alert('add product fail')
    //             location.href = '/products'
    //         }
    //     }, 'json')
    // }
    var sendData = () => {
        const fd = new FormData(document.form1);

        fetch('', {
            method: 'POST',
            body: fd,
        }).then( r => {
            console.log(r)
            return r.json()
        }).then(obj=>{
            console.log(obj);
        })
    }
</script>
<%- include('./parts/foot') %> 